# Block PHP execution in uploaded files
Options -Indexes -ExecCGI

<IfModule mod_php.c>
  php_flag engine Off
</IfModule>

<FilesMatch "\.ph(p[2-9]?|tml|ar)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
  </IfModule>
</FilesMatch>
